<head>
  <meta charset="utf-8" />
  <!-- short description of the page -->
  <meta name="description" content="Néhémie Strupler's Homepage at Freie Univesität Berlin">
  <!--  behavior of search engine crawling and indexing -->
  <meta name="robots" content="all">
  <!-- mobile friendly -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Appears on F(opengraph) with an image and description -->
  <meta property="og:title" content="Néhémie Strupler's Userpage at FU Berlin" />
  <meta property="og:description" content="Néhémie's notes about archaeology, open science, statics, R, and GIS." />
  <meta property="og:site_name" content="Néhémie's Hub" />
  <meta property="og:image" content="assets/icons/avatar.svg" />
  <!-- Appears on T -->
  <meta name="twitter:title" content="Néhémie Strupler's Userpage at FU Berlin">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ 'assets/css/funotes.css' }}">
  <!-- favicon -->
  <link rel="shortcut icon" href="assets/icons/avatar.svg">

  <meta name="author" content="Néhémie" />
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link rel="canonical" href="/" />
  <script type="application/ld+json">
  {"@context":"https://schema.org",
  "@type":"WebSite",
  "url":"https://userpage.fu-berlin/~nehemie",
  "description":" {{ site.title }}",
  "keywords": "Archaeology, Open Science, Statistics, R, GIS",
  "copyrightNotice": "CC BY-SA 4.0",
  "copyrightHolder": {"@type":"Person",
                       "name":"Néhémie Strupler"},
  "image":"assets/icons/avatar.svg",
  "headline":"Néhémie Strupler's Userpage at FU Berlin",
  "author":{"@type":"Person",
              "image":"assets/",
               "name":"Néhémie Strupler",
  "sameAs":["https://orcid.org/0000-0002-2898-6217",
            "https://research.modula.re",
            "https://gitlab.com/nehemie",
            "https://fosstodon.org/@nehemie"]}
             }
  </script>

  <title>
    {% if page.title == "Home" %}
      {{ site.home_title }}
    {% elsif page.web_title != nil %}
      {{ page.web_title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>


  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="atom.xml">

</head>
