 Néhémie Strupler

 <p> <a href="{{ site.data.links.fu_baseurl }}" target="_blank">Freie Universität Berlin </a></p>

 <p> <a href="{{ site.data.links.fu_geschkult }}" target="_blank">Fachbereichs Geschichts- und Kulturwissenschaften </a></p>

 <p> <a href="{{ site.data.links.fu_wiber }}" target="_blank">Institut für Wissensgeschichte des Altertums </a></p>

 <p> <a href="{{ site.data.links.fu_wiber_osm }}" target="_blank"> Arnimallee 10</a></p>

 <p> 14195<a href="{{ site.data.links.berlin_baseurl }}"
   target="_blank" > Berlin </a> (<a href="{{ site.data.links.dwds_wb | append: "Deutschland" }}"
      target="_blank" >Germany</a>)</p>

 <p> <a href="{{ site.mail | prepend: "mailto:" }}"> {{ site.mail }} </a> </p>
