html {
  background-color: #003366;
  color: #99CC00;
  display:grid;
  min-height: 100vh;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  align-items: center;
 justify-items: center;
}

.intro-warranty{
  font-size: 66.6%;
  font-family: mono;
}


@media (min-width: 575px) {
  .container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {

}

@media (min-width: 601px) {

}

a {
  color: #FF9900;
}

a:visited {
  color: #333333;
}

a:focus {
  outline: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
}

a:active {
  background-color: #333333;
}

img {
  max-width: 100%;
  display: block;
}

.my_contact{

  font-family: mono;
font-size: 12px;
line-height: 5px;
}

.my_contact a[href*="https"] {
  background: url("../icons/external_link.svg") no-repeat 100% 0;
  background-size: 12px 12px;
  padding-right: 12px;
}

.my_contact a[href*="mailto"]::before {
  content:  "✉";
  color: #000000;
}

.back-home{
  margin-top: 2em;
  text-align: center;
  color: white;
  border-style: double;
}
