<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  {% include head.html %}
  <body>
  <div class="container">
    {{ content }}
  </div>{% unless page.name == "index.md" or page.name == "404.md" %}
   <nav class="back-home">
            Back to <a href="index.html"> Homepage </a>
   </nav>{% endunless %}
  </body>
</html>
