---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.tags.size > 0 %}
  <span class=post-tags>
  {{ tag_content_temp }}
  </span>  {% endif %}


<span class="post-date">
Date:
<time datetime="{{ page.date | date_to_xmlschema }}" style="white-space: nowrap;">{{ page.date | date: "%Y-%m-%d" }}</time>
</span> <!-- /post-date -->


  {{ content }}

 </div>
